.button_one {
  background-color: $color-sub;
  color: #fff;
  font-family: $font-sub;
  padding: 0.5em 2em;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.4em;
  outline-style: none;
}
