<div data-ng-controller="AuthController as globalAuth" class="login_status">
  <p data-ng-init="globalAuth.getOrganizationName()">Welcome, <span ng-show="globalAuth.isLoggedIn()">{{globalAuth.organizationName}}</span><span ng-show="!globalAuth.isLoggedIn()">Guest</span>
    <a href data-ng-click="globalAuth.logout()">Logout</a></p>
</div>
<section class="about_section" data-ng-controller="LocationsController as locctrl">
  <h2>Next Meal</h2>
  <h4>
    Welcome to Next Meal! We are a non-profit organization that brings together resources to better assist ongoing hunger needs in our communities.
  </h4>
  <h4>How it works:</h4>
  <p>Next Meal allows for information to be requested either by SMS text messaging and/or voice call request.  A response will be given on where there are local food distribution locations that are giving meals for that day.</p>
  <section class="about_wrapper">
    <div>
      <ol>To receive a text response:
        <li>Send a text message to: 425-276-6480.</li>
        <li>The text message should be either - breakfast, lunch or dinner</li>
        <li>The user will receive a response a short time later</li>
      </ol>
    </div>
    <div>
      <ol>To receive a voice response:
        <li>Users can call 206-429-6617.</li>
        <li>Prompts will guide callers to enter - breakfast, lunch, or dinner</li>
        <li>Callers will receive up to two locations for that day.</li>
      </ol>
    </div>
    <div>
      <ul>Hunger Facts in Washington:
        <li>Washington is the 23rd hungriest state in the nation</li>
        <li>1 in 7 Washingtonians relies on SNAP (food stamps), the Supplemental Nutrition Assistance Program, which is severely threatened by budget cuts.</li>
        <li>1 in 5 WA kids lives in a household that struggles with hunger.</li>
        <li>Half of all people on SNAP are kids.</li>
      </ul>
    </div>
  </section>
</section>
