<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Next Meal</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat:400,700|Josefin+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="main.css">
</head>
<body data-ng-app="nextMeal">

<div data-ng-controller="AuthController as globalAuth">
  <p data-ng-if="globalAuth.organizationName">Hello: {{globalAuth.organizationName}}
    <a href data-ng-click="globalAuth.logout()">Logout</a></p>
</div>
<header class="nav_wrapper">
<img src="../images/Next-Meal-logo-50.svg" class="logo_lg logo_sm"></img>
  <nav>
    <a href="#/" id="menu-icon"></a>
    <ul>
      <li><a data-ng-href="#/">home</a></li>
      <li><a data-ng-href="#/about">about</a></li>
      <li><a data-ng-href="#/">contact</a></li>
      <li><a class="submenu_li" data-ng-href="#/">organizations</a>
        <ul>
          <li><a class="submenu_li" href="#/signin">log in</a></li>
          <li><a class="submenu_li" href="#/signup">sign up</a></li>
        </ul>
      </li>
      <li><a class="donate" data-ng-href="#">donate</a></li>
    </ul>
  </nav>
</header>

<main data-ng-view></main>

<footer>
  <ul>
    <li class="logo_footer">
      <img src="images/Next-Meal-logo-50.svg" alt="logo">
    </li>
    <li class="site_map">
      <p>Site Map</p>
      <p>or</p>
      <p>Contact Information</p>
    </li>
  </ul>
</footer>

  <script src="./bundle.js"></script>
</body>
</html>
