footer {
  border-bottom: 1.5em solid $color-main;
  ul {
    @include display(flex);
    @include justify-content(space-around);
    @include flex-direction(row);
    @include align-items(center);
  }
  li {
    p {
      font-family: $font-sub;
      display: block;
      color: $color-text;
    }
  }
}

.logo_footer {
  &:before {
    content: "";
    display: inline-block;
    width: 5em;
    height: 8em;
    background: url(../images/footer-space-needle-icn.svg) center center no-repeat;
    position: relative;
    background-size: 100%;
    margin-bottom: -.5em;
  }
  img {
    width: 14em;
    height: 7em;
    border: 1px solid $color-border;
  }
}
.site_map {
  height: 6em;
  border-right: solid 0.15em $color-sub;
  line-height: 1.4;
  font-size: 1em;
  padding-right: 1.8em;
  padding-top: 0.5em;
}
