.location {
  font-family: $font-text;
  font-size: 1.75 em;
  color: $color-sub;
  padding-left: 1.5em;
  ul {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    padding: 1.25em 0;
    width: 100%;
    li {
      &:first-child {
        letter-spacing: 0.025em;
        margin: auto 0;
        padding: 0 2em;
        p {
        }
      }
      input {
        text-align: center;
        height: 3.5em;
        border: 1.5px solid #C3BEBE;
        font-size: 0.4em;
        &:focus {
          outline: none;
          border-color: $color-sub;
          text-shadow: 0 0 2px $color-sub;
        }
      }
    }
  }
}

.find_btn {
  @extend .button_one;
  width: 10em;
  height: 3.5em;
  margin: 0 3em;
  & {
    font-size: 0.5em;
  }
  &:hover {
    background-color: darken($color-sub, 20%);
  }
}

.reset_btn {
  @extend .find_btn;
}
