.welcome {
  position: relative;
  clear: both;
  padding-top: 7em;
  background-image: url('../images/blue-header-city.jpg');
  background-size: cover;
  background-position: center;
  height: 34.5em;
  width: 100%;
  div {
    padding-top: 7em;
    text-align: center;
    p {
      font-family: $font-main;
      font-size: 3em;
      color: #fff;
      text-align: center;
      &:first-child {
        letter-spacing: 0.1em;
        padding: 0.5em 0 0.25em;
      }
      @media only screen and (max-width: 1000px) {
        font-size: 2.5em;
      }
      @media only screen and (max-width: 550px) {
        font-size: 1.5em;
      }
    }
  }
  @media only screen and (max-width: 1000px) {
    padding-top: 5em;
    height: 28em;
  }
  @media only screen and (max-width: 550px) {
    padding-top: 3em;
    height: 20em;
  }
}

.typed {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: type 8s steps(60, end);
}

.typed:nth-child(2){
  animation: type2 8s steps(60, end);
}

@keyframes type {
  from {
    width: 0;
    margin-left: 50%;

  }
  to {
    width: 100%;
    margin-left: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
    margin-left: 50%
  }
  50% {
    width: 0;
    margin-left: 50%;
  }
  100% {
    width: 100%;
    margin-left: 0;
  }
}
