<div class="auth_wrapper">
  <section>
    <form name="authform" data-ng-submit="authctrl.authenticate(authctrl.organization)" class="form_green">
      <h1>{{authctrl.signup ? 'Create A New Organization':'Sign in to existing Organization'}}</h1>
      <a data-ng-href="/#/{{authctrl.signup? 'signin':'signup'}}">{{(authctrl.signup ? 'Or Sign into an exisiting Organization':'Or Create a New Organization')}}</a>
      <label>
        <span>Name:</span>
        <input type="text" required data-ng-model="authctrl.organization.organizationName">
      </label>
      <label>
        <span>Password:</span>
        <input type="password" required data-ng-model="authctrl.organization.password">
      </label>
      <label data-ng-if="authctrl.signup" for="confirmation">
        <span>Confirmation:</span>
        <input data-ng-if="authctrl.signup" required type="password" data-ng-model="authctrl.organization.confirmation">
      </label>
      <button type="submit" data-ng-disabled="authform.$invalid">{{authctrl.buttonText}}</button>
    </form>
  </section>
</div>
