<section class="welcome">
  <div>
    <p class="typed">text... locate... eat...</p>
    <p class="typed">Next Meal</p>
  </div>
</section>
<section>
  <section class="location">
    <ul>
      <li>
        <p>Find A Location</p>
      </li>
      <li>
        <input type="text" placeholder="enter zip code" data-ng-model="locctrl.searchText">
      </li>
      <li>
        <button type="button" class="find_btn" data-ng-click="locctrl.getAll()" data-ng-buttonText="Find" data-ng-if="!locctrl.results">Find</button>
        <button type="button" class="reset_btn" data-ng-click="locctrl.results=false; locctrl.reset()" data-ng-buttonText="Find" data-ng-if="locctrl.results">Reset</button>
      </li>
    </ul>
  </section>

  <section class="map" data-ng-if="!locctrl.results">
    <ui-gmap-google-map center="map.center" zoom="map.zoom"></ui-gmap-google-map>
  </section>

  <section class="results" data-ng-if="locctrl.results">
    <div class="location_list_wrapper">
      <ul class="location_list">
        <locations_list
          data-ng-repeat="location in locctrl.locations | filter: locctrl.searchText"
          data-location="location"
          data-buttonText="reset"
        ></locations_list>
      </ul>
      <ui-gmap-google-map class="location_list_map" center="map.center" zoom="map.zoom"></ui-gmap-google-map>
    </div>
  </section>
</section>
